@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;900&family=Inter:wght@300;400;500;700&family=JetBrains+Mono:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 4%;
    --foreground: 0 0% 100%;
    --card: 240 10% 9%;
    --card-foreground: 0 0% 100%;
    --popover: 240 10% 9%;
    --popover-foreground: 0 0% 100%;
    --primary: 210 100% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 5% 26%;
    --muted-foreground: 240 5% 64%;
    --accent: 38 92% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 6% 20%;
    --input: 240 6% 20%;
    --ring: 210 100% 40%;
    --radius: 0.125rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Manrope', sans-serif;
  }
  .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
}